.scoreboard {
    background-color: #65c1c9;
    border-radius: 10px;
    margin-bottom: 20px;
    flex-grow: 1;
    display: flex;
}

.count {
    font-size: 50px;
    font-weight: bold;
    color: #000;
    margin: auto;
}

.maxCount {
    color: #ff0000;
}